# Required: generate with: python -c "import secrets; print(secrets.token_urlsafe(50))"
SECRET_KEY=sdaasdasdas

DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=examscheduler
POSTGRES_USER=admin
POSTGRES_PASSWORD=adminpassword
DATABASE_URL=postgres://admin:adminpassword@db:5432/examscheduler
REDIS_URL=redis://redis:6379/0

# Gurobi WLS credentials
GRB_WLSACCESSID=your_access_id
GRB_WLSSECRET=your_wls_secret
GRB_LICENSEID=your_license_number

# OpenAI API (for LLM integration)
OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=gpt-4o
